// Small tablets and large smartphones (landscape view)
$mobile: 576px;

// Small tablets (portrait view)
$medium: 796px;

// Tablets and small desktops
$tablet: 992px;

// Large tablets and desktops
$desktop: 1200px;